# NOTE: Remove comments on your actual .env to avoid unexpected behaviour
# ACC = Account module
# MM = Matchmaking module
# ...

ACC_APP_ENV=DEVEL # The environment the application would run in. Options: "DEVEL" | "PRODC"
ACC_APP_PORT=8888 # The port the app would receive the requests from.
ACC_ACCESS_TOKEN_SECRET=secret # The secret that would be used for encrypting access token. string
ACC_ACCESS_TOKEN_LIFETIME=10 # The lifetime of access token in minutes. Positive Integer
ACC_REFRESH_TOKEN_SECRET=secrett
ACC_REFRESH_TOKEN_LIFETIME=24 # The lifetime of access token in hours. Positive Integer
ACC_AUTH_MAX_FAIL=3 # The maximum of number of failed auth attempts before further attempt would be restricted
ACC_AUTH_FAIL_COOLDOWN=10 # The cooldown between each failed auth attempts in minutes
ACC_DB_PASS=supersecret # The password for the main DB
ACC_DB_URL=postgresql://jonoSuryono:supersecret@localhost:5432/mydb?schema=public # The connection URL for the main DB
ACC_CACHE_URL=redis://:anothersecret@account-cache:6379/7

MM_APP_ENV=DEVEL
MM_APP_PORT=8889
MM_BROKER1_PORT=9092
MM_CACHE_URL=redis://:wellhidden@account-cache:6379/7
MM_ACCOUNT_URL=localhost:8888/
MM_REFRESH_PATH=api/account/v1/auth/refresh/
